@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.awak{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 100px;
    z-index: -1;
    color:rgb(245, 7, 7);

}
.header p{
    font-size: 20px;
    font-weight: 100;
    color: gray;
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0,auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    animation: slide-out-container 4s cubic-bezier(0.97,0.01,0.36,0.99)2.8s;
    animation-fill-mode: forwards;

}
.text-wrapper{
    color: white;
    position: absolute;

}
.text{
    font-family: 'Roboto',sans-serif;
    font-weight: lighter;
    font-size: 54px;

}
.text-1, .text-3, .text-4, .text-8, .text-9, .text-11{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke:1px white ;
}
@keyframes blink {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }

}
.text-1{
    animation: blink 0.8s, linear 0.9s blink 0.8s, linear 0.2s !important;
    -webkit-animation: blink 0.8s, linear 0.9s blink 0.8s, linear 0.2s;
opacity: 0;
-webkit-text-stroke:1px rgb(0, 38, 255) !important;
}

.text-2 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s !important;
    opacity: 0;
    color: rgb(6, 140, 250);
}

.text-3 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s !important;
    opacity: 0;
    -webkit-text-stroke:1px rgb(62, 248, 93) !important;
}

.text-4 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s !important;
    opacity: 0;
    -webkit-text-stroke:1px rgb(229, 255, 0) !important;
}

.text-5 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s !important;
    opacity: 0;
    -webkit-text-stroke:1px rgb(0, 174, 255) !important;
}

.text-6 {
    animation: blink 0.8s  !important;
    opacity: 0;
    
}
.text-7 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s !important; 
    opacity: 0;
}
.text-8 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s !important;
    opacity: 0;
    -webkit-text-stroke:1px rgb(229, 255, 0) !important;
}
.text-9 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s !important;
    opacity: 0;
    -webkit-text-stroke:1px rgb(62, 248, 93) !important;
}
.text-10 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s !important;
    opacity: 0;
    
}
    
   
.text-11 {
    animation-name: blink 0.8s linear 0.9s, blink 0.8s linear 2s !important;
    opacity: 0;
    -webkit-text-stroke:1px rgb(0, 38, 255) !important;

}
@keyframes slide-out{

    0%{
        opacity: 0;font-size: 70px;
    }
    1%{
        opacity: 100%;font-size: 70px;color: red;
    }
    19%{
        opacity: 100%;font-size: 70px;color: red;
    }
    20%{
        opacity: 0;font-size: 70px;
    }
    39%{
        opacity: 0;font-size: 70px;
    }
    40%{
        opacity: 100%;font-size: 70px;color: red;
    }
    59%{
        opacity: 100%;font-size: 70px;color: red;
        
    }
    60%{
        opacity: 0;font-size: 70px;
        
    }
    79%{
        opacity: 0;font-size: 70px;
        
    }
    80%{
        opacity: 100%;font-size: 70px;color: red;
        
    }
    100%{
        opacity: 100%;font-size: 70px;color: red;
        
    }

}

@keyframes slide-out-container{
    0%{
        height: 100vh;
    }
    40%{
        height: 100vh;
    }
    100%{
        height: 0vh;
    }
}